
// media syntax
@media {
    div { color: blue; }
}
@media what {
    div { color: blue; }
}

@media (cool) {
    div { color: blue; }
}
@media (cool: blue) {
    div { color: blue; }
}

@media hello and (world) and (butt: man) {
    div { color: blue; }
}

// media bubbling
@media not hello and (world) {
   color: blue;
   pre {
       color: blue;
   }

   @media butt {
       color: red;
       div {
           color: red;
       }
   }
}

@media a {
    @media b, c{
        a: 0;
    }
}

@media a and e{
    @media b, c{
        b: 0;
    }
}

@media a, b {
    @media c {
        div {
            display: none;
        }
    }
    @media d, e {
        f: 0;
    }
    @media f and g {
        a: 0;
    }
}
