@media {
  div {
    color: blue; } }

@media what {
  div {
    color: blue; } }

@media (cool) {
  div {
    color: blue; } }

@media (cool: blue) {
  div {
    color: blue; } }

@media hello and (world) and (butt: man) {
  div {
    color: blue; } }

@media not hello and (world) {
  color: blue;
  pre {
    color: blue; } }
  @media not hello and (world) and butt {
    color: red;
  div {
    color: red; } }

<<<<<<< HEAD
@media a and b, a and c {
  a: 0; }
  
@media a and e and b, a and e and c {
  b: 0; }

@media a and c, b and c {
  div {
    display: none; } } }

@media a and d, a and e, b and d, b and e {
  div {
    display: none; } } }
    
@media a and f and g, b and f and g {
  div {
    display: none; } } }
